:root {
  /*
    COLORS
  */

  /* background color */
  --bg-dark-sakura: hsla(350, 60%, 15%, 1);
  --bg-nishikigi: hsla(16, 43%, 30%, 1);
  --bg-vivid-kurenai: hsla(358, 90%, 50%, 1);
  --bg-kin: hsla(47, 90%, 60%, 1);
  --bg-aonibi: hsla(202, 20%, 40%, 1);
  --bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-kuro: hsla(0, 0%, 0%, 1);
  --text-akane: hsla(358, 79%, 53%, 1);
  --text-white-alpha-60: hsla(0, 0%, 100%, 0.6);

  /* border color */
  --border-kin: hsla(47, 90%, 60%, 1);
  --border-aonibi: hsla(202, 20%, 40%, 1);
  --border-white-alpha-10: hsla(0, 0%, 100%, 0.1);

  /*
    TYPOGRAPHY
  */

  /* font family */
  --fontFamily-open-sans: "Open Sans", sans-serif;

  /* font size */
  --fontSize-1: 4rem;
  --fontSize-2: 3.2rem;
  --fontSize-3: 2.4rem;
  --fontSize-4: 2rem;
  --fontSize-5: 1.8rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /*
    SPACING
  */
  --section-spacing: 100px;

  /*
    BOX SHADOW
  */
  --shadow-1: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.1));
  --shadow-2: drop-shadow(0 20px 30px hsla(0, 0%, 0%, 0.2));

  /*
    BORDER RADIUS
  */
  --radius-24: 24px;
  --radius-40: 40px;
  --radius-pill: 500px;

  /*
    TRANSITION
  */
  --tr-duration-short-4: 200ms;
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0, 1, 0.5, 1);
  --tr-easing-standard: cubic-bezier(0.2, 0, 0, 1);

  --space-2: calc(var(--space-base) * 2);
  --space-4: calc(var(--space-base) * 4);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--fontFamily-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark-sakura);
  color: var(--text-white-alpha-60);
  font-size: var(--fontSize-6);
  line-height: 1.8;
}

body.nav-active {
  overflow: hidden;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.section {
  padding-block-end: var(--section-spacing);
}

.title {
  color: var(--text-white);
  line-height: 1.1;
}

.h1 {
  font-size: var(--fontSize-1);
}

.h2 {
  font-size: var(--fontSize-2);
  font-weight: var(--weight-semiBold);
}

.h3 {
  font-size: var(--fontSize-3);
  font-weight: var(--weight-regular);
}

.btn {
  height: 62px;
  padding-inline: 50px;
  font-weight: var(--weight-semiBold);
  border-radius: var(--radius-pill);
  color: var(--text-kuro);
  display: grid;
  place-content: center;
  max-width: max-content;
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--bg-kin);
}

.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--bg-vivid-kurenai);
  color: var(--text-white);
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.section-text {
  margin-block: 15px 50px;
}

.grid-list {
  display: grid;
  gap: 50px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-white-alpha-10);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}
